<div class="w-50 bg-secondary rounded-3 p-4 text-light">
    <h1>Login</h1>
    <form action="/api/auth" method="post">
        <label for="name" class="form-label mt-4">Name</label>
        <input type="text" name="name" class="form-control" placeholder="Type your name here..."/>
        <button type="submit" class="btn btn-light mt-2">Log in</button>
    </form>
</div>